* {
  cursor: none;
}

.cursor-dot,
.cursor-dot-outline {
  z-index: 99999;
  pointer-events: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.cursor-dot {
  width: 8px;
  height: 8px;
  background: var(--cursor-color);
  mix-blend-mode: difference;
  transition: opactiy .2s ease-in-out, transform .2s ease-in-out;

}

.cursor-dot-outline {
  width: 40px;
  height: 40px;
  background-color: var(--cursor-color);
  mix-blend-mode: difference;
  box-shadow: 1px;
  animation: preloader 1s linear infinite alternate;
}

@keyframes preloader {
  0% { transform: scale(1) translate(-50%, -50%); }
  100% { transform: scale(1.2) translate(-40%, -40%); }
}
