.decoration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 32px;

    h1 {
      font-size: 175px;
      line-height: 100%;
      font-weight: 900;
      letter-spacing: 0.02em;
    }
    .rectangle{
      flex-grow: 1;
      height: 130px;

    }
  }

  .footerDecoration {
    display: flex;
    gap: 20%;

    div:nth-child(1) {
      flex-grow: 1;
    }
    div:nth-child(2) {
      width: 20%;
    }
  }

}

.rectangle {
  border: 2px solid var(--text-color);
  border-radius: 10em;
}

@media only screen and (max-width: 1400px) {
  .decoration {
    div {
      gap: 24px;
      h1 {
        font-size: 128px;
      }
      .rectangle{
        height: 120px;
      }
      .logo {
        width: 150px;
        height: 150px;
      }
    }
    .footerDecoration {
      div:nth-child(2) {
        width: 30%;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .decoration {
    div {
      gap: 16px;
      h1 {
        font-size: 96px;
      }
      .rectangle{
        height: 90px;
      }
      .logo {
        width: 120px;
        height: 120px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .decoration {
    div {
      gap: 16px;
      h1 {
        font-size: 72px;
      }
      .rectangle{
        height: 70px;
      }
      .logo {
        width: 100px;
        height: 100px;
      }
    }
  }
}

@media only screen and (max-width: 640px) {
  .decoration {
    div {
      gap: 8px;
      h1 {
        font-size: 48px;
      }
      .rectangle{
        height: 40px;
      }
      .logo {
        width: 44px;
        height: 44px;
      }
    }
    .footerDecoration {
      flex-direction: column;
      align-items: flex-start;
      div {
        width: 100%;
      }
      div:nth-child(1) {
        flex-grow: none;
      }
      div:nth-child(2) {
        width: 100%;
      }
    }
  }
}
