header {
  border-bottom: var(--text-color) 2px solid;
  background-color: var(--background);

  z-index: 9999;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: min(95% - 1em, 100em);

  width: 100vw;


  position: fixed;

  top: 0;
  left: 0;
  right: 0;

  box-sizing: border-box;
  padding: 1em 8%;
  opacity: 1;

  .navComputer {
    display: flex;
    align-items: center;
    gap: 32px;
  }
  .burger-menu {
    display: none;
  }
  #burger-button {
    display: none;
  }
}


@media only screen and (max-width: 768px) {
  header {
    box-sizing: border-box;
    padding: 1em 2em;
    .burger-menu {
      display: block;
    }
    .navComputer {
      display: none;
    }
    #burger-button {
      display: flex;
    }
    svg {
      width: 2em;
      height: 2em;
    }
  }
}


@media only screen and (max-width: 600px) {
  header {
    box-sizing: border-box;
    padding: 1em 2em;
    .navComputer {
      display: none;
    }
    #burger-button {
      display: flex;
    }
    svg {
      width: 2em;
      height: 2em;
    }
  }
}
