.navProject {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid $text-color;

  &__content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1rem 0;
  }

  &:hover{
    .h{
      opacity: 0.3;
    }
  }
}
