.navProject {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid var(--text-color);

  &__content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1rem 0;
  }
  .h {
    -webkit-text-stroke: 1px var(--text-color);
  }

  &:hover{
    span {
      color: var(--background);
    }
    .h{
      -webkit-text-stroke: 1px var(--text-color);
      opacity: 1;
    }
  }
}

@media only screen and (max-width: 1400px) {
  .navProject{
    &__content{
      gap: 0.75rem;
      a, div, .hoverLink, span {
        font-size: 4rem;
      }
    }
    &__tags {
      gap: 0.75rem;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .navProject{
    &__content{
      gap: 0.75rem;
      a, div, .hoverLink, span {
        font-size: 3.5rem;
      }
    }
    &__tags {
      gap: 0.75rem;
    }
  }
}

@media only screen and (max-width: 768px) {
  .navProject{
    &__content{
      gap: 0.75rem;
      a, div, .hoverLink, span {
        font-size: 3rem;
      }
    }
    &__tags {
      gap: 0.75rem;
    }
  }

}


@media only screen and (max-width: 600px) {
  .navProject {
    .littleDescription {
      font-size: 1rem;
    }
    &__content{
      gap: 0.75rem;
      a, div, .hoverLink, span {
        font-size: 2.5rem;
      }
    }
    &__tags {
      gap: 0.5rem;
    }
  }
}
