.Designproject_nav {
  display: flex;
  flex-direction: column;
  min-height: fit-content;
}

.navDesign {
  border-bottom: 2px solid var(--text-color);
  position: relative;
  box-sizing: border-box;
  padding: 1em 10em;
  a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .navDesign__content {
      display: flex;
      align-items: center;
      gap: 2rem;
      .rectangle {
        width: 64px;
        height: 16px;
      }
      .h {
        -webkit-text-stroke: 1px var(--text-color);
        padding-right: 2px;
      }
    }
    .arrow {
      transition: transform 0.3s cubic-bezier(.23,1,.32,1);
      transform: rotate(45deg) translate(-1em, 1em);
    }
    &:hover {
      span {
        color: var(--background);
      }
      .h{
        opacity: 1;
      }
    }
  }
}

@media only screen and (max-width: 1400px) {
  .navDesign {
    padding: 1em 8em;

    a {
      height: 50px;
      .navDesign__content {
        gap: 1rem;
        .h {
          --webkit-text-stroke: 1px var(--background);
          font-size: 1.5rem;
        }
        span {
          font-size: 1.75rem;
        }
      }
    }
  }

}

@media only screen and (max-width: 1024px) {
  .navDesign {
    padding: 1em 5em;

    a {
      height: 50px;
      .navDesign__content {
        gap: 1rem;
        .h {
          --webkit-text-stroke: 1px var(--background);
          font-size: 1.25rem;
        }
        span {
          font-size: 1.5rem;
        }
      }
    }
  }

}

@media only screen and (max-width: 768px) {
  .navDesign {
    padding: 1em 3em;

    a {
      height: 50px;
      .navDesign__content {
        .rectangle {
          display: none;
        }
        gap: 1rem;
        .h {
          --webkit-text-stroke: 1px var(--background);
          font-size: 1.25rem;
        }
        span {
          font-size: 1.5rem;
        }
      }
    }
  }

}

@media only screen and (max-width: 600px) {
  .navDesign {
    padding: 1em 1em;

    a {
      height: 50px;
      .navDesign__content {
        .rectangle {
          display: none;
        }
        gap: 1rem;
        .h {
          --webkit-text-stroke: 1px var(--background);
          font-size: 1.25rem;
        }
        span {
          font-size: 1.5rem;
        }
      }
    }
  }
}
