.project {
  display: flex;
  justify-content: space-between;
  gap: 130px;
  max-width: 100%;
  padding: 10% 0;
  margin: 0 auto;


  &__decoration {
    .sticky {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: sticky;
      top: 5%;
      margin-top: 10%;
      height: 85vh;
      .rectangle {
        flex-grow: 1;
        width: 130px;
      }
    }

  }

  &__content {
    padding: 0 1.5rem;
    margin: 0 auto;
    max-width: 1200px;

    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 5rem;
  }
}
