.projectPages {
  &_content {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }


  &_header {
    display: flex;
    justify-content: space-between;

    &_text {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 50%;
      .link {
        display: flex;
        gap: 16px;
        align-items: center;
        p {
          display: inline-block;
          position: relative;
          font-family: 'Cabinet-Black';
          font-size: 2rem;

          &::after {
            content: '';
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 2px;
            bottom: 10px;
            left: 0;
            background-color: var(--text-color);
            transform-origin: bottom right;
            transition: transform 0.25s ease-out;
          }
        }
        .arrow {
          transition: transform 0.3s ease;
        }

        &:hover {
          p::after {
            transform: scaleX(1);
            transform-origin: bottom left;
          }
          .arrow {
            transform: rotate(45deg);
          }
        }
      }

      p {
        font-size: 1rem;
      }
      .tags {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        margin-top: 1rem;
      }
    }

    &_img {
      width: 50%;
      height: 720px;
      img {
        width: 100%;
        object-fit: cover;
      }
    }
    display: flex;
  }
  &_img {
    width: 100%;
    height: 720px;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  .changeProject{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 2rem 0;

    &__prev {
      display: flex;
      gap: 1rem;
      align-items: center;
      .arrow {
        transform: rotate(225deg);
      }
    }
    &__next {
      display: flex;
      gap: 1rem;
      align-items: center;
      .arrow {
        transform: rotate(45deg);
      }
    }
  }
}


.projectNotCharged{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: min(100% - 1em, 95em);
  height: 90vh;
  font-size: 2rem;
  font-weight: 700;
  font-family: "Cabinet";
  text-align: center;
}
