/* .rounded {
  border-radius: 50%;
  margin: 0 auto;
  opacity: 0;
  background-color: aqua;
  width: 1px;
  height: 1px;
  top: 500;
  transform-origin:center;
  position: sticky;
}
 */

.circle{
  background-color: $text-color;
  border-radius: 50% 50% 0% 0% / 50% 50% 0% 0%;
  width: 1px;
  height: 1px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
