body {
  margin-inline: auto;
  overflow-x: hidden;
}

section {
  min-height: 80vh;
  width: min(100% - 1em, 100em);
  margin: 0 auto;
}

h1, h2, h3, p {
  margin: 0;
  color: $text-color;
  line-height: 150%;
  font-style: normal;
}

h1 {
  font-family: "Cabinet";
  font-size: 3rem;
  font-weight: 700;
}

h2 {
  font-family: "Cabinet";
  font-size: 2.5rem;
  font-weight: 700;
}

h3 {
  font-family: "Cabinet";
  font-size: 2rem;
  font-weight: 700;
}

p {
  font-family: "Satoshi";
  font-size: 1.5rem;
  font-weight: 400;
}

a {
  color: $text-color;
  text-decoration: none;
  font-family: "Satoshi";
  font-size: 1rem;
  font-weight: 400;
}

.md-1 {
  font-size: 1.5rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
