body {
  margin-inline: auto;
  overflow-x: hidden;
}

section {
  min-height: 96vh;
  width: min(100% - 1em, 95em);
  margin: 0 auto;
}

h1, h2, h3, h4, p {
  margin: 0;
  color: $text-color;
  line-height: 150%;
  font-style: normal;
}

h1 {
  font-family: "Cabinet-black";
  font-size: 3rem;
}

h2 {
  font-family: "Cabinet";
  font-size: 2.5rem;
  font-weight: 700;
}

h3 {
  font-family: "Cabinet";
  font-size: 2rem;
  font-weight: 700;
}

h4 {
  font-family: "Cabinet";
  font-size: 1.5rem;
  font-weight: 700;
}

p {
  font-family: "Satoshi";
  font-size: 1rem;
  font-weight: 400;
}

a {
  color: $text-color;
  text-decoration: none;
  font-family: "Satoshi";
  font-size: 1rem;
  font-weight: 400;
}

.md-1 {
  font-size: 1.5rem;
  font-weight: 600;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.align {
  display: flex;
  &_row {
    gap: 4rem;
    flex-direction: row;
  }
  &_column {
    gap: 1rem;
    flex-direction: column;
  }
}
