:root {
  .light-theme {
    --background: #FFFEFB;
    --backgroundOpacity: rgba(12, 12, 12, 0.8);
    --text-color: #363232;
  }
  .dark-theme {
    --background: #0F0F0F;
    --backgroundOpacity: rgba(12, 12, 12, 0.8);
    --text-color: #FFFEFB;
  }
}
