:root {
  .light-theme {
    --background: #E5E5E5;
    --backgroundOpacity: rgba(12, 12, 12, 0.8);
    --text-color: #363232;
  }
  .dark-theme {
    --background: #000000;
    --backgroundOpacity: #0F0F0F;
    --text-color: #E5E5E5;
  }
}
