@font-face {
  font-family: "Cabinet";
  src: local("Cabinet"),
    url("../font/CabinetGrotesk-Variable.ttf") format("truetype");
}
@font-face {
  font-family: "Cabinet-Black";
  src: local("Cabinet"),
    url("../font/CabinetGrotesk-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Satoshi";
  src: local("Satoshi"),
    url("../font/Satoshi-Variable.ttf") format("truetype");
}

@font-face {
  font-family: "Satoshi-Medium";
  src: local("Satoshi"),
    url("../font/Satoshi-Medium.ttf") format("truetype");
}
